@import "../variables.scss";

.drawer-menu-head {
  font-size: 14px;
}
.item-card {
  border: 1px solid $border-color;
  border-radius: 10px;
}
.timestamp {
  font-size: 12px;
}
.drawer-task-content {
  padding: 20px;
}
.drawer-task {
  font-weight: 600;
}
