@import "../variables.scss";

.drawer-menu-head {
  font-size: 14px;
}
.item-card {
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 6px;
  margin-bottom: 10px;
}
.drag-item {
  cursor: move;
}
.timestamp {
  font-size: 12px;
}
.drawer-task-content {
  padding: 20px;
}
.drawer-task {
  font-weight: 600;
}
.workspace-content {
  font-weight: 600;
}
