@import "../variables.scss";

.task-form-area {
  padding: 5px 8px 8px;
}
.textarea-input {
  display: block;
  font-size: 14px;
  color: #172b4d;
  padding: 11px;
  border-radius: 10px;
  border-color: #e1e4e8;
  &:focus {
    outline: none;
  }
}
.task-list {
  border-radius: 10px;
  overflow: auto;
  padding: 0 8px;
}
.task-card {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: move;
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1);
  &:hover {
    box-shadow: 0 1px 3px rgba(106, 115, 125, 0.3);
  }
}
.task-menu {
  margin-top: 7px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    color: #11cdef;
  }
}
.modal-content {
  flex: 1 1 auto;
  padding: 8px 16px;
}
details > summary::-webkit-details-marker {
  display: none;
}
.task-content {
  font-weight: bold;
  color: #0366d6;
  cursor: pointer;
  word-break: break-all;
}
