@import "./Shared/all.scss";
@import "./Dashboard/all.scss";
@import "./Auth//auth.scss";
@import "./Column/all.scss";
@import "./Account/acount.scss";
@import "./Task/task.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f3f9;
}
p {
  margin: 0;
  color: $primary-color;
}
ul {
  padding: 0;
}
h3 {
  margin: 0;
}
a {
  color: $base-font-color;
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.87);
  }
}
