@import "../variables.scss";

.button-wrapper {
  display: flex;
  align-items: center;
}

.sns-icon-button {
  width: 336px;
  height: 50px;
  padding: 0 12px;
  background-color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: #f1f3f9;
  }
}

.button-text {
  display: block;
  font-size: 14px;
  word-spacing: 1.1;
  margin-left: 12px;
  color: $primary-color;
}

.github {
  color: #000000;
}

.twitter {
  color: rgba(29, 161, 242, 1);
}

.google {
  color: #ea4335;
}
