.center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-auto {
  margin-left: auto;
}

.m-auto {
  margin: 0 auto;
}

.m-tb {
  margin: 30px 0;
}

.error-message {
  color: #ff1919;
  margin: 10.5px 0;
  font-size: 14px;
}
