.center {
  text-align: center;
}
.font-14 {
  font-size: 14px;
}
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.flex-row {
  flex-direction: row;
}
.flex-auto {
  flex: auto;
}
.min-width-0 {
  min-width: 0;
}
.align-content-between {
  align-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}
.position-absolute {
  position: absolute;
}
.outline-none {
  outline: none;
}
.error-message {
  color: #ff1919;
  margin: 10.5px 0;
  font-size: 14px;
}
.text-gray {
  color: #6a737d;
}
.under-decoration {
  text-decoration: underline;
}
