.center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mr-4 {
  margin-right: 24px;
}

.ml-auto {
  margin-left: auto;
}

.m-auto {
  margin: 0 auto;
}

.m-tb {
  margin: 30px 0;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.min-width-0 {
  min-width: 0;
}

.pl-5 {
  padding-left: 32px;
}

.p-2 {
  padding: 10px;
}

.text-gray {
  font-size: 12px;
  color: #6a737d;
}

.error-message {
  color: #ff1919;
  margin: 10.5px 0;
  font-size: 14px;
}

.align-content-between {
  align-content: space-between;
}

.flex-column {
  flex-direction: column;
}
.position-relative {
  position: relative;
}
.position-static {
  position: static;
}

.position-absolute {
  position: absolute;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
details > summary::-webkit-details-marker {
  display: none;
}
.outline-none {
  outline: none;
}
